<html>
  <head>
    <script src="http://static.thomasjbradley.ca/modernizr.custom.min.js"></script>
    <script src="http://static.thomasjbradley.ca/signature-pad/jquery.signaturepad.min.js"></script>
    <script src="http://static.thomasjbradley.ca/signature-pad/json2.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.sigPad').signaturePad();
      });
    </script>
  </head>
  <body>
    <div role="main">
      <form method="post" action="#" class="sigPad">
        <label for="name">Print your name</label>
        <input type="text" name="name" id="name" class="name">
        <p class="typeItDesc" style="display: block;">Review your signature</p>
        <p class="drawItDesc" style="display: none;">Draw your signature</p>
        <ul class="sigNav" style="display: block;">
          <li class="typeIt">
            <a href="#type-it" class="current">Type It</a>
          </li>
          <li class="drawIt">
            <a href="#draw-it">Draw It</a>
          </li>
          <li class="clearButton" style="display: none;">
            <a href="#clear">Clear</a>
          </li>
        </ul>
        <div class="sig sigWrapper" style="display: block;">
          <div class="typed"></div>
          <canvas class="pad" width="250" height="150"></canvas>
          <input type="hidden" name="output" class="output" value="">
        </div>
        <br><br><br><br>
        <button type="submit">I accept the terms of this agreement.</button>
      </form>
    </div>
  </body>
</html>
