<% provide(:title, 'Statistics') %>
<h1 class='hidden-xs'>Statistics</h1>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
<center><h3 class='visible-xs'>Statistics</h3></center>
<div class='row'>
  <div class='col-md-6 well'><%= render 'form' %></div>
  <div class='col-md-6'><%= render 'stats_table' %></div>
</div>

