<div ng-app='weowepro'>
  <div ng-controller='TourCtrl'>
    <div id='tour_page'>
      <center>
        <br>
        <label>Navigation</label>
        <br>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click='count = 0'>1</button>
          <button type="button" class="btn btn-default" ng-click='count = 1'>2</button>
          <button type="button" class="btn btn-default" ng-click='count = 2'>3</button>
          <button type="button" class="btn btn-default" ng-click='count = 3'>4</button>
          <button type="button" class="btn btn-default" ng-click='count = 4'>5</button>
          <button type="button" class="btn btn-default" ng-click='count = 5'>6</button>
          <button type="button" class="btn btn-default" ng-click='count = 6'>7</button>
          <button type="button" class="btn btn-default" ng-click='count = 7'>8</button>
          <button type="button" class="btn btn-default" ng-click='count = 8'>9</button>
          <button type="button" class="btn btn-default" ng-click='count = 9'>10</button>
          <button type="button" class="btn btn-default" ng-click='count = 10'>11</button>
        </div>
        <br><br>
        <img ng-src="images/{{screenshots[count].url}}" id='tour_image'/>
        <br>
        <h4> {{screenshots[count].name}} </h4>
        <p> {{screenshots[count].description}} </p>
        <br><br><br><br>
      </center>
    </div>
  </div>
</div>
