<div ng-app='weowepro'>
  <div ng-controller='TourCtrl'>
    <div id='tour_page'>
      <center>
        <br>
        <label>Navigation</label>
        <br>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click='count = 1'>1</button>
          <button type="button" class="btn btn-default" ng-click='count = 2'>2</button>
          <button type="button" class="btn btn-default" ng-click='count = 3'>3</button>
          <button type="button" class="btn btn-default" ng-click='count = 4'>4</button>
          <button type="button" class="btn btn-default" ng-click='count = 5'>5</button>
          <button type="button" class="btn btn-default" ng-click='count = 6'>6</button>
          <button type="button" class="btn btn-default" ng-click='count = 7'>7</button>
          <button type="button" class="btn btn-default" ng-click='count = 8'>8</button>
          <button type="button" class="btn btn-default" ng-click='count = 9'>9</button>
          <button type="button" class="btn btn-default" ng-click='count = 10'>10</button>
        </div>
        <br><br>
        <div class='hidden-xs'>
          <img ng-src="images/{{screenshots[count].url}}" id='tour_image'/>
        </div>
        <div class='visible-xs'>
          <img ng-src="images/{{screenshots[count].url}}" id='tour_image_mobile'/>
        </div>
        <br>
        <h4> {{screenshots[count].name}} </h4>
        <p id='description'> {{screenshots[count].description}} </p>
        <br><br><br><br>
      </center>
    </div>
  </div>
</div>
