<h1>Listing weowe_items</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weowe_items.each do |weowe_item| %>
      <tr>
        <td><%= link_to 'Show', weowe_item %></td>
        <td><%= link_to 'Edit', edit_weowe_item_path(weowe_item) %></td>
        <td><%= link_to 'Destroy', weowe_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weowe item', new_weowe_item_path %>
