<center>
  <p style='color: #C0C0C0'>
    <a style='color: #C0C0C0' href = 'http://www.weowepro.com/privacy'>
      Privacy
    </a> |
    <a style='color: #C0C0C0' href = 'http://www.weowepro.com/tos'>
      TOS
    </a> |
    &#169; '14 Allen Industries
  </p>
</center>
