<table class='table'>
  <thead ng-show='(weoweUsers | filter:search).length > 0' >
    <tr>
      <th>
       <a ng-click="predicate.value = 'last_name'; reverse=!reverse">
         Last Name</a>
      </th>
      <th class='hidden-xs'>
       <a ng-click="predicate.value = 'first_name'; reverse=!reverse">
         First Name </a>
      </th>
      <th class='hidden-xs'>
        Email
      </th>
      <th>
        Phone Number
      </th>
      <th class='hidden-xs'>
        Department
      </th>
      <th class='hidden-xs'>
        Active
      </th>
      <th class='hidden-xs'>
        Admin
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat='user in weoweUsers | orderBy:predicate.value:reverse |
                   filter:search'>
      <td>
        {{user.last_name}}
      </td>
      <td class='hidden-xs'>{{user.first_name}}</td>
      <td class='hidden-xs'><%= mail_to '{{user.email}}' %></td>
      <td><a ng-href='tel:{{user.phone_number}}'>{{user.phone_number}}</td>
      <td class='hidden-xs'>{{user.department}}</td>
      <td class='hidden-xs'>{{user.active | booleanToWords}}</td>
      <td class='hidden-xs'>{{user.admin | booleanToWords}}</td>
      <td>
        <%= link_to '/users/{{user.id}}' do %>
          <i class='fa fa-external-link fa-lg'></i>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
