<div ng-app='weowepro'>
  <div ng-controller='UsersCtrl'>
    <% provide(:title, 'Users') %>
    <h1 class='hidden-xs'>Users</h1>
    <center><h4 class='visible-xs'>Users</h4></center>

    <div class='row'>
      <div class='col-md-3 col-xs-8'>
        <div class="input-group">
          <input class="form-control" ng-model="search" placeholder="Search"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </span>
        </div>
      </div>
      <div class='col-md-7 col-xs-4'></div>
      <div class='col-md-2 col-xs-2'>
      <div class='btn-group'>
        <%= link_to 'Add User', new_user_path,
          class: 'btn btn-primary btn-sm', role: 'button' %>
      </div>
    </div>

    <div class='hidden-xs'><br><br><br></div>

    <%= render 'index' %>
  </div>
</div>
