<% provide(:title, 'Employee Profile') %>

<div ng-app='weowepro'>
  <div ng-controller='UsersCtrl'>
    <div ng-init='data.user = <%= @user.to_json %>'>
    <div ng-init='current_user = <%= current_user.to_json %>'>

    <h1>{{data.user.first_name}} {{data.user.last_name}}</h1>

    <div id='profile_width'>
      <div ng-if='current_user.admin'>
        <div class='pull-left'>
          <btn ng-click='adminButton(data.user)'
               ng-class="{'btn btn-danger': data.user.admin, 'btn btn-success': !data.user.admin}">
            <i class='fa fa-user fa-lg'></i> {{!data.user.admin? ' Add' : ' Remove'}} Admin
          </btn>
        </div>
        <div class='pull-left'>
          <btn ng-click='activeButton(data.user)'
               ng-class="{'btn btn-danger': data.user.active, 'btn btn-success': !data.user.active}">
            <i ng-class="{'fa fa-minus-circle fa-lg': data.user.active, 'fa fa-plus-circle fa-lg': !data.user.active}"></i>
              {{!data.user.active? ' Activate' : ' Deactivate'}}
          </btn>
        </div>
      </div>

      <div class='pull-right'>
        <btn ng-click='open(false)' class='btn btn-primary'>
          <i class='fa fa-pencil fa-lg'></i> Edit Profile
        </btn>
      </div>

      <br><br>

      <table class='table table-bordered'>
        <tr>
        <th>First Name</th>
          <td>{{data.user.first_name}}</td>
        </tr>
        <tr>
        <th>Last Name</th>
          <td>{{data.user.last_name}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>
            <a href='mailto:{{data.user.email}}'>
              {{data.user.email}}
            </a>
          </td>
        </tr>
        <tr>
        <th>Phone</th>
          <td>
            <a href='tel:{{data.user.phone_number}}'>
              {{data.user.phone_number}}
            </a>
          </td>
        </tr>
        <tr>
        <th>Admin</th>
          <td>{{data.user.admin | booleanToWords}}</td>
        </tr>
        <th>Active</th>
          <td>{{data.user.active | booleanToWords}}</td>
        </tr>
        <tr>
        <th>Department</th>
          <td>{{data.user.department}}</td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>
