<% if @weowe_form.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@weowe_form.errors.count, "error") %> prohibited this we owe form from being saved:</h2>
    <ul>
    <% @weowe_form.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
