<% if @dealer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@dealer.errors.count, "error") %> prohibited this dealer from being saved:</h2>

    <ul>
    <% @dealer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
