<div class='table-responsive'>
  <table class='table table-hover table-condensed' >
    <thead>
      <tr>
        <th>
          <a href="" ng-click="predicate.value = 'stock_number'; reverse=!reverse">
            Stock #</a>
        </th>
        <th class = 'hidden-xs'>
         <a href="" ng-click="predicate.value = 'custom_date'; reverse=!reverse">
           Date</a>
        </th>
        <th class = 'hidden-xs'>
         <a href="" ng-click="predicate.value = 'custom_date'; reverse=!reverse">
           Salesperson</a>
        </th>
        <th class = 'hidden-xs'>
          <a href="" ng-click="predicate.value = 'year'; reverse=!reverse">
            Year</a>
        </th>
        <th class = 'hidden-xs'>
          <a href="" ng-click="predicate.value = 'make'; reverse=!reverse">
            Make</a>
        </th>
        <th class = 'hidden-xs'>
          <a href="" ng-click="predicate.value = 'vehicle_model'; reverse=!reverse">
            Model</a>
        </th>
        <th class = 'hidden-xs'>
          <a href="" ng-click="predicate.value = 'color'; reverse=!reverse">
            Color</a>
        </th>
        <th>
          <a href="" ng-click="predicate.value = 'customer_last_name'; reverse=!reverse">
            Last Name</a>
        </th>
        <th class = 'hidden-xs'>
          <a href="" ng-click="predicate.value = 'customer_first_name'; reverse=!reverse">
            First Name</a>
        </th>
        <th>
          <a href="" ng-click="predicate.value = 'dealer_total_value'; reverse=!reverse">
            Total Value</a>
        </th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat='form in weoweForms | orderBy:predicate.value:reverse |
                     filter:search | limitTo:totalDisplayed'>
        <td>
          <a ng-href='/weowe_forms/{{form.id}}'>
            {{form.stock_number}}
          </a>
        </td>
        <td class = 'hidden-xs'>{{form.custom_date | date:'MM/dd/yyyy'}}</td>
        <td class = 'hidden-xs'>{{form.user.last_name}}</td>
        <td class = 'hidden-xs'>{{form.year}}</td>
        <td class = 'hidden-xs'>{{form.make}}</td>
        <td class = 'hidden-xs'>{{form.vehicle_model}}</td>
        <td class = 'hidden-xs'>{{form.color}}</td>
        <td>{{form.customer_last_name}}</td>
        <td class = 'hidden-xs'>{{form.customer_first_name}}</td>
        <td>{{form.dealer_total_value | currency}}</td>
        <td ng-click='deleteRow(form)'>
          <check-in ng-click="addAlert(customMsg(form))" info='form'></check-in>
        </td>
      </tr>
    </tbody>
  </table>
</div>



