<div ng-app='weowepro' class='table-responsive'>
  <div ng-controller='MetricsCtrl'>

    <div ng-repeat="user in weoweUsers | filter:salesPersonFilter | orderBy: 'last_name'">
      <br>
      <div class='well'>
        <div class='row'>
          <div class='col-md-3'>
            <h4>
              {{user.last_name}}, {{user.first_name}}
              <span ng-hide='checked'>
                <a ng-click='checked = !checked' class='glyphicon glyphicon-chevron-right'></a>
              </span>
              <span ng-show='checked'>
                <a ng-click='checked = !checked' class='glyphicon glyphicon-chevron-down'></a>
              </span>
            </h4>
          </div>
          <div class='col-md-3'>
            <h4>
              Total Retail<br><br>
              {{totalRetail() | number:0}}
            </h4>
          </div>
          <div class='col-md-3'>
            <h4>
              Total Wholesale<br><br>
              Value
            </h4>
          </div>
          <div class='col-md-3'>
            <h4>
              $Δ<br><br>
              Value
            </h4>
          </div>
        </div>
        <div ng-if='checked'>
          <%= render 'metrics_table' %>
        </div>
        <div ng-if='!checked'>
          <!-- LEFT BLANK FOR A PLACEHOLDER -->
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
