<div ng-app='weowepro'>
  <div ng-controller='MetricsCtrl'>
    <% provide(:title, 'Metrics') %>
    <h1 class='hidden-xs'>Metrics</h1>
    <center><h4 class='visible-xs'>Metrics</h4></center>
    <div class='row'>
      <div class='col-md-3'>
        <select ng-model='salesPersonFilter' class='form-control'>
          <option value=''>All Sales Staff</option>
          <option ng-repeat="user in weoweUsers | orderBy: 'last_name'"
                  value='{{user.last_name}}' name=''>
            {{user.last_name}}, {{user.first_name}}</option>
        </select>
      </div>
      <div class='col-md-9'></div>
    </div>
    <div class='hidden-xs'><br><br></div><br>
    <%= render 'metrics' %>
  </div>
</div>
