<div data-ng-app='weowepro'>
  <div data-ng-controller='PendingFormsCtrl'>
    <% provide(:title, 'Sales') %>

    <h1 class='hidden-xs'>Sales</h1>
    <center><h4 class='visible-xs'>Sales</h4></center>

    <div class='row'>
      <div class='col-md-3'>
        <div class='input-group'>
          <input class='form-control' ng-model='search' placeholder='Search'/>
          <span class='input-group-addon'>
            <span class='glyphicon glyphicon-search'></span>
          </span>
        </div>
      </div>
      <div class='col-md-5'></div>
      <div class='col-md-4'>
      <div class='btn-group hidden-xs'>
        <%= link_to new_weowe_form_path,
                    class:'btn btn-default btn-primary' do %>
          <i class='fa fa-plus fa-lg'></i> Add Form
        <% end %>
        <%= link_to weowe_forms_path,
                    class:'btn btn-default btn-warning' do %>
          <i class='fa fa-wrench fa-lg'></i> Service
        <% end %>
        <%= link_to completed_path,
                    class:'btn btn-default btn-success' do %>
          <i class='fa fa-check-square fa-lg'></i> Completed
        <% end %>
      </div>
    </div>

    <div class='hidden-xs'><br><br></div><br>

    <%= render 'pending' %>

    <center>
      <div ng-show='(pendingForms | filter:search).length == 0'>
        <hr>
        <h4>No results found</h4>
        <btn class='btn btn-default' ng-click="search=''">New Search</btn>
      </div>
      <div ng-hide='(pendingForms | filter:search).length == 0'>
        <hr>
        <btn class='btn btn-default' ng-click='loadMore()'>Load More</btn>
      </div>
    </center>
  </div>
</div>
