 <% provide(:title, 'Preferences') %>
 <h1 class='hidden-xs'>Preferences</h1>
 <center><h4 class='visible-xs'>Preferences</h4></center>

<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#billing">
  Billing
</button>
<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#dealership_info">
  Dealership Information
</button>
<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#export">
  Data Export
</button>

<div id="billing" class="collapse">
  <%= render 'billing' %>
</div>
<div id="dealership_info" class="collapse">
 <%= render 'dealership_info' %>
</div>
<div id="export" class="collapse">
<%= render 'export' %>
</div>




<div ng-app="mgcrea.ngStrapDocs">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/angular-motion.min.css">
    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/bootstrap-additions.min.css">
    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/libraries.min.css">

    <script src="//code.angularjs.org/1.2.16/angular.min.js" data-semver="1.2.16"></script>
    <script src="//code.angularjs.org/1.2.16/angular-animate.min.js" data-semver="1.2.16"></script>
    <script src="//code.angularjs.org/1.2.16/angular-sanitize.min.js" data-semver="1.2.16"></script>
    <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.js" data-semver="v2.0.1"></script>
    <script src="//mgcrea.github.io/angular-strap/dist/angular-strap.tpl.js" data-semver="v2.0.1"></script>
    <script>
    var app = angular.module('mgcrea.ngStrapDocs', ['ngAnimate', 'ngSanitize', 'mgcrea.ngStrap']);

    app.controller('MainCtrl', function($scope) {
    });

    'use strict';

    angular.module('mgcrea.ngStrapDocs')

    .controller('AlertDemoCtrl', function($scope, $templateCache, $timeout, $alert) {

      $scope.alert = {title: 'Holy guacamole!', content: 'Best check yo self, you\'re not looking too good.', type: 'info'};

      // Service usage
      var myAlert = $alert({title: 'Holy guacamole!', content: 'Best check yo self, you\'re not looking too good.', placement: 'top', type: 'info', keyboard: true, show: false});
      $scope.showAlert = function() {
        myAlert.show(); // or myAlert.$promise.then(myAlert.show) if you use an external html template
      };

    });


    </script>
    <script src="//mgcrea.github.io/angular-strap/scripts/docs.tpl.min.js" data-semver="v2.0.1"></script>

  <div ng-controller="MainCtrl">

<div class="bs-docs-section" ng-controller="AlertDemoCtrl">

    <button type="button" class="btn btn-lg btn-primary" data-placement="top" data-container="body" data-duration="15" bs-alert="alert">Click to toggle alert
      <br />
      <small>(using an object)</small>
    </button>


  </div>





</div>

  </div>

