<% provide(:title, 'Preferences') %>
<h1>Preferences</h1>
<div ng-app="weowepro">
  <div ng-controller="AdminCtrl">
    <accordion close-others="oneAtATime">
<!--       <accordion-group heading="Manage Billing Information">
        <%= render 'billing' %>
      </accordion-group> -->
      <accordion-group heading="Manage Dealership Information">
        <%= render 'dealership_info' %>
      </accordion-group>
    </accordion>
  </div>
</div>
