# <% provide(:title, 'Preferences') %>
# <h1 class='hidden-xs'>Preferences</h1>
# <center><h4 class='visible-xs'>Preferences</h4></center>
# <div ng-app="weowepro">
#   <div ng-controller="AdminCtrl">
#     <accordion close-others="oneAtATime">
#       <accordion-group heading="Manage Billing Information">
#         <%= render 'billing' %>
#       </accordion-group>
#       <accordion-group heading="Manage Dealership Information">
#         <%= render 'dealership_info' %>
#       </accordion-group>
#       <accordion-group heading="Export Data">
#         <%= render 'export' %>
#       </accordion-group>
#     </accordion>
#   </div>
# </div>
