<% provide(:title, 'Preferences') %>
<h1>Preferences</h1>

<div class='table-responsive'>
  <div class='panel-group' id='accordion'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4 class='panel-title'>
          <a data-toggle='collapse' data-parent="#accordion" href="#collapseOne">
           Manage Billing Information
          </a>
        </h4>
      </div>
      <div id='collapseOne' class='panel-collapse collapse'>
        <div class='panel-body'>
          <%= render 'billing' %>
        </div>
      </div>
    </div>

    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4 class='panel-title'>
          <a data-toggle='collapse' data-parent="#accordion" href="#collapseTwo">
           Manage Dealership Information
          </a>
        </h4>
      </div>
      <div id='collapseTwo' class='panel-collapse collapse'>
        <div class='panel-body'>
          <%= render 'dealership_info' %>
        </div>
      </div>
    </div>


  </div>
</div>
