<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Here is a copy of the due bill for your recent purchase!
    <br>
    </p>
    <p>
      We appreciate your business.
    </p>
    <p><%= Time.now %></p>
    <br>
    <p> </p>
  </body>
</html>
