<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Service on your vehicle is completed and your car is ready for pickup!
    <br>
    </p>
    <p>
      We appreciate your business.
    </p>
    <p> Sincerely, </p>
    <br>
    <p> </p>
  </body>
</html>
