<div class='modal-header'>
    <h3 class='modal-title'>
      <center>We Owe Form Edit</center>
    </h3>
</div>

<div class='modal-body'>

  <center><h4>Customer Information</h4></center>

  <label>First Name (Optional)</label>
  <input ng-model='data.weoweForm.customer_first_name'
         type='text' class='form-control' placeholder='First Name (Optional)'>
  <label>Last Name / Company</label>
  <input ng-model='data.weoweForm.customer_last_name'
         type='text' class='form-control' placeholder='Last Name / Company'>
  <label>Phone Number</label>
  <input ng-model='data.weoweForm.customer_phone_mobile'
         type='text' class='form-control' placeholder='Phone Number ###-###-####'>
  <label>Email</label>
  <input ng-model='data.weoweForm.customer_email'
         type='email' class='form-control' placeholder='Email'>

  <center><h4>Vehicle Information</h4></center>
  <label>Stock Number</label>
  <input ng-model='data.weoweForm.stock_number'
         type='text' class='form-control' placeholder='Stock Number'>
  <label>Year</label>
  <input ng-model='data.weoweForm.year'
         type='text' class='form-control' placeholder='Year'>
  <label>Make</label>
  <input ng-model='data.weoweForm.make'
         type='text' class='form-control' placeholder='Make'>
  <label>Model</label>
  <input ng-model='data.weoweForm.vehicle_model'
         type='email' class='form-control' placeholder='Model'>
  <label>Date Sold</label>
  <input ng-model='data.weoweForm.sold_date'
         type='email' class='form-control' placeholder='Date sold'>

  <center><h4>We Owe</h4></center>
  <table class='table table-bordered table-condensed' >
    <tr>
      <th>#</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Total Retail</th>
      <th>Total Wholesale</th>
      <th>Total Actual</th>
    </tr>
    <tr>
      <th style='width:5%'>1</th>
      <td><input ng-model='data.weoweForm.description_1'
                 type='text' class='form-control' placeholder='Description'></td>
      <td><input ng-model='data.weoweForm.quantity_1'
                 type='text' class='form-control' placeholder='Qty'></td>
      <td><input ng-model='data.weoweForm.dealer_total_value_1'
                 type='text' class='form-control' placeholder='Retail'></td>
      <td><input ng-model='data.weoweForm.dealer_wholesale_1'
                 type='text' class='form-control' placeholder='Wholesale'></td>
      <td><input ng-model='data.weoweForm.dealer_actual_1'
                 type='text' class='form-control' placeholder='Actual cost'></td>
    </tr>
    <tr>
      <th style='width:5%'>2</th>
      <td><input ng-model='data.weoweForm.description_2'
                 type='text' class='form-control' placeholder='Description'></td>
      <td><input ng-model='data.weoweForm.quantity_2'
                 type='text' class='form-control' placeholder='Qty'></td>
      <td><input ng-model='data.weoweForm.dealer_total_value_2'
                 type='text' class='form-control' placeholder='Retail'></td>
      <td><input ng-model='data.weoweForm.dealer_wholesale_2'
                 type='text' class='form-control' placeholder='Wholesale'></td>
      <td><input ng-model='data.weoweForm.dealer_actual_2'
                 type='text' class='form-control' placeholder='Actual cost'></td>
    </tr>
    <tr>
      <th style='width:5%'>3</th>
      <td><input ng-model='data.weoweForm.description_3'
                 type='text' class='form-control' placeholder='Description'></td>
      <td><input ng-model='data.weoweForm.quantity_3'
                 type='text' class='form-control' placeholder='Qty'></td>
      <td><input ng-model='data.weoweForm.dealer_total_value_3'
                 type='text' class='form-control' placeholder='Retail'></td>
      <td><input ng-model='data.weoweForm.dealer_wholesale_3'
                 type='text' class='form-control' placeholder='Wholesale'></td>
      <td><input ng-model='data.weoweForm.dealer_actual_3'
                 type='text' class='form-control' placeholder='Actual cost'></td>
    </tr>
    <tr>
      <th style='width:5%'>4</th>
      <td><input ng-model='data.weoweForm.description_4'
                 type='text' class='form-control' placeholder='Description'></td>
      <td><input ng-model='data.weoweForm.quantity_4'
                 type='text' class='form-control' placeholder='Qty'></td>
      <td><input ng-model='data.weoweForm.dealer_total_value_4'
                 type='text' class='form-control' placeholder='Retail'></td>
      <td><input ng-model='data.weoweForm.dealer_wholesale_4'
                 type='text' class='form-control' placeholder='Wholesale'></td>
      <td><input ng-model='data.weoweForm.dealer_actual_4'
                 type='text' class='form-control' placeholder='Actual cost'></td>
    </tr>
    <tr>
      <th style='width:5%'>5</th>
      <td><input ng-model='data.weoweForm.description_5'
                 type='text' class='form-control' placeholder='Description'></td>
      <td><input ng-model='data.weoweForm.quantity_5'
                 type='text' class='form-control' placeholder='Qty'></td>
      <td><input ng-model='data.weoweForm.dealer_total_value_5'
                 type='text' class='form-control' placeholder='Retail'></td>
      <td><input ng-model='data.weoweForm.dealer_wholesale_5'
                 type='text' class='form-control' placeholder='Wholesale'></td>
      <td><input ng-model='data.weoweForm.dealer_actual_5'
                 type='text' class='form-control' placeholder='Actual cost'></td>
    </tr>
  </table>

  <center><h4>Customer Owes</h4></center>
  <label>Description</label>
  <input ng-model='data.weoweForm.theyowe_info'
         type='text' class='form-control' placeholder='Customer owes'>
  <label>Total Value</label>
  <input ng-model='data.weoweForm.customer_total_value'
         type='text' class='form-control' placeholder='Total value'>

  <center><h4>Salesperson</h4></center>
  <label>First Name</label>
  <input ng-model='data.salesManager.first_name'
         type='text' class='form-control' placeholder='First'>
  <label>Last Name</label>
  <input ng-model='data.salesManager.last_name'
         type='text' class='form-control' placeholder='Last'>

  <center><h4>Sales Manager</h4></center>
  <label>First Name</label>
  <input ng-model='data.user.first_name'
         type='text' class='form-control' placeholder='First'>
  <label>Last Name</label>
  <input ng-model='data.user.last_name'
         type='text' class='form-control' placeholder='Last'>
  <label>Phone Number</label>
  <input ng-model='data.salesManager.phone_number'
         type='text' class='form-control' placeholder='Phone number'>

  <center><h4>Admin</h4></center>
  <label>Approved by</label>
  <input ng-model='data.weoweForm.approved_by'
         type='text' class='form-control' placeholder='Name'>
  <label>Completed by</label>
  <input ng-model='data.weoweForm.completed_by'
         type='text' class='form-control' placeholder='Name'>

</div>

<div class='modal-footer'>
  <a class='btn btn-primary btn-block'
     ng-click='ok()'>
    <i class='fa fa-refresh'></i> Update Totals
  </a>
  <button class='btn btn-danger btn-block' ng-click='cancel()'>
    <i class='fa fa-times'></i> Close</button>
</div>
