@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

/* universal */

$lightgrey: #999;
* {
  font-family: 'Droid', sans-serif;
}
html {
  overflow-y: scroll;
}
body {
 padding-top: 0px;
 background-color: #FFFFFF;
 color: black;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;

  h1 {
  margin-bottom: 10px;
  }
}
#top_nav {
  color: white;
  background-color: #21272B;
  height: 50px;
}
#nav_logo {
  padding-top: 12px;
  margin-top: 0px;
}
.pace .pace-progress {
  background: #009586;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
.pace-inactive {
  display: none;
}
.green-accent {
  color: #009586;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  text-weight: normal;
  color: $lightgrey;
}
P {
  font-size: 1.1em;
  line-height: 1.7em;
}

// Navbar
$bgDefault      : #263238;
$bgHighlight    : #263238;
$colDefault     : #FCFCFC;
$colHover       : #009587;

.navbar-inverse {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: #009587;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: white }}}
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      border-color: transparent;
    }

/* header */
#logo {
  margin-right: 10px;
  font-size: 1.7em;
  color: #FFFFFF;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
  &:hover {
  color: #fff;
  text-decoration: none;
  }
}

// Buttons
.btn-primary {
   @include button-variant(white, #426FC5, white);
}
.btn-warning {
   @include button-variant(white, #F6774F , white);
}
.btn-success {
   @include button-variant(white, #259B24 , white);
}
.btn-danger {
   @include button-variant(white, #E94043, white);
}
.btn-info {
   @include button-variant(white,  red, white);
}

/* Footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightgrey;  //defined via bootstrap-sass gem
}
footer a {
  color: #555;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  float: left;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 10px;
}

/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
.date-select{
  .form-group select {
    @extend .col-sm-4;
    width: 32%;
    margin-left: 2%;
    &:first-of-type {
      margin-left: 0!important;
    }
  }
  .form-group label{
    display: block;
  }
}
legend{
  @extend h1;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.btnfix{
  width: 150px;
  display: block;
  margin: auto;
}

// Default form width convenience class
.userform{
  @extend .col-sm-8;
  @extend .col-sm-offset-2;
}

/* tables */
.fixtable {
  width: 50%;
}
.right-show-page {
    text-align: right;
    float: right;
    margin-left: 15px;
}
@media (min-width: 500px) {
  .mobile-btn-fix {
    width: 150px;
    display: block;
  }
  .table-width-desktop {
    width: 75%;
    margin: 0 auto;
  }
  #profile_width{
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .mobile-btn-fix {
    width: 150px;
    display: block;
  }
  .table-width-desktop {
    width: 100%;
    margin: 0 auto;
  }
}
.pref-btn-fix {
  width: 100px;
}
