@import "bootstrap";

/* Navbar

.navbar-inverse {

  background-color: #666b70;
}

*/

/* universal */

$lightgrey: #999;

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}


textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
  margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  text-weight: normal;
  color: $lightgrey;
}

P {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;

  &:hover {
  color: #fff;
  text-decoration: none;
  }
}

#logoimage {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 5px;
  font-weight: bold;
  line-height: 1;

  &:hover {
  color: #fff;
  text-decoration: none;
  }
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightgrey;  //defined via bootstrap-sass gem
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: left;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.date-select{
  .form-group select {
    @extend .col-sm-4;
    width: 32%;
    margin-left: 2%;
    &:first-of-type {
      margin-left: 0!important;
    }
  }
  .form-group label{
    display: block;
  }
}

legend{
  @extend h1;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.btn{
  margin: auto;
  display: block;

}

.fixbtn {
 margin: 7px;
}

// Default form width convenience class
.userform{
  @extend .col-sm-8;
  @extend .col-sm-offset-2;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $lightgrey;
    &:last-child {
      border-bottom: 1px solid $lightgrey;
    }
  }
}
