  #devise_html {
    overflow-y: scroll;
    position: relative;
    background-color:#ECEEF2;
    margin: 0px;
  }

  #devise_body {
    height: 100%;
    padding-top: 0px;
    background-color:#ECEEF2;
  }

  .panel-primary > .panel-heading {
    background-color: #009587;
  }
  .panel-primary {
    border-color:  #009587;
  }
   a.deviselink{
      color: #009587;
      &:hover {
         color: #009587;
       }
     }

  .header-font {
    font-size: 24px;
    font-family: 'Gill Sans Ultra Bold';
    font-weight:900;
  }

  @media (min-width: 992px) {
    .fixwidth {
      width: 375px;
      margin: 0 auto;
    }

    .box-position {
      position:absolute;
      top: 50%;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }

  @media (max-width: 991px) {
    .fixwidth {
      width: 300px;
      margin: 0 auto;
    }

    .box-position {
      position:absolute;
      top: 50%;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }

  .box {
    background-color:#FFFFFF;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px; border-radius:12px;
    border:1px solid #999;
    padding:1em;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -opera-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
  }

  #navlist li
  {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  }

  #navlist a { color: #999; }

  .footer-center {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
