// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#userform {
    width:100px;

}

#userformbutton {
    width:150px;
    margin-left: left;

}

#userprofile {
    width:650px;
    margin-left: left;
}
