<div class='modal-header'>
    <h3 class='modal-title'>I'm a modal!</h3>
</div>
<div class='modal-body'>
  <table>
    <tr>
      <th>1</h1><td>{{data.weoweForm.dealer_total_value_4}}</td>
      <th>1</h1><td>{{data.weoweForm.dealer_total_value_4}}</td>
      <th>1</h1><td>{{data.weoweForm.dealer_actual_4}}</td>
    </tr>
  </table>
</div>
<div class='modal-footer'>
    <button class='btn btn-primary' ng-click='ok()'>OK</button>
    <button class='btn btn-warning' ng-click='cancel()'>Cancel</button>
</div>
