<footer class='footer hidden-xs'>
  <center>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div id="navcontainer" class='footer-center'>
        <ul id="navlist">
          <li>
            <a href = 'http://www.weowepro.com/privacy'>Privacy </a>
          </li>
          <li>
            <a href = 'http://www.weowepro.com/tos'>TOS </a>
          </li>
          <li>&#169;2014 Allen Industries LLC </li>
        </ul>
      </div>
    </nav>
  </center>
</footer>
