<<<<<<< HEAD
<footer class='footer'>
  <nav>
    <ul>
      <p>Copyright &#169; 2013-2014 Allen Industries. All rights reserved. </p>
    </ul>
  </nav>
</footer>

<%= debug(params) if Rails.env.development? %>
=======
<footer class='footer'>
  <nav>
    <ul>
      <p>Copyright &#169; 2013-2014 Allen Industries. All rights reserved.</p>
    </ul>
  </nav>
</footer>
>>>>>>> fe6f45a4bbdfd3d7f22f3c6770c88992a0a9c673
