<footer class='footer' id='footer_landing_page_fix'>
  <center>

  <p style='color: #C0C0C0'>
    <a style='color: #C0C0C0' href = 'http://www.weowepro.com/privacy'>
      Privacy
    </a> |
    <a style='color: #C0C0C0' href = 'http://www.weowepro.com/tos'>
      Terms of Service
    </a>
  </p>


  <p style='color: #C0C0C0'>&#169; 2014 Allen Industries LLC</p>
  </center>
</footer>

<style>
 #footer_landing_page_fix {
  padding-top: 0px;
  margin-top: 0px;
 }
</style>

